@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #header {
    width: 90%;
  }
  #hero {
     width: 90%;

   }#hero .hero--nid__buiok1 {

      margin-left: 304px;

    }
  #hero .hero--nid__maim {
    margin-left: 335px;

  }#hero .hero--nid__buiok1 {
     display: none;
   }#hero .hero--nid__bulok {
      margin-top: -495px;
    }#hero .hero--nid__buioke {
       left: 780px;
     }
  #hero .hero--nid__titix {

    width: 90%;
    padding: 0 20px;

  }
  #swaiper {
     width: 90%;
   }#laik {

      width: 90%;
    }#taibl {
       width: 90%;

     }#imgec {

        width: 90%;
      }#imgec .dawi--imhg {

         text-align: center;
         width: 90%;
       }
  #footer {
    width: 90%;

  }#see {

     width: 90%;
   }#see .see--summer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }


}
@media (max-width: 1024px) {
  #hero .hero--nid__heser {
    font-size: 53px;
  }
  #hero .hero--nid__heb {
    font-size: 53px;
  }
#hero .hero--nid__hel {
  font-size: 55px;
}#header .navbar--nav__impo {
   display: none;
 }#hero .hero--nid__buioke {
    left: 627px;
  }#hero .hero--nid__titix {
        font-size: 16px;
      }#hero .hero--nid__titli {
         display: flow-root;
         text-align: center;
       }#imgec .dawi--imhg {

          text-align: center;
          width: 90%;
        }#footer .footer--logotiv {
           font-size: 23px;

         }#footer .footer--logotiv span {
            font-size: 29px;
          }
  #footer .footer--logotiv p {
    font-size: 20px;

  }#footer .footer--logot {

     font-size: 25px;
   }#footer .footer--vino__lori {
      width: 223px;

    }
}
@media (max-width: 992px) {}
@media (max-width: 768px) {
  #header .navbar--nav {
    display: none;
  }#hero .hero--nid__heser {
     font-size: 33px;
   }#hero .hero--nid__heb {
      font-size: 39px;
    }#hero .hero--nid__hel {
       font-size: 40px;
     }#hero .hero--nid__maim {
        margin-left: 237px;
      }#hero .hero--nid__helo {
         padding: 128px 79px;

       }#hero .hero--nid__buioke {
          left: 417px;
          margin-top: 251px;
        }#imgec .dawi--imhg {
           text-align: center;
           width: 90%;
           display: none;
         }#footer .footer--logot {
            display: none;
          }#footer .footer--logotiv p {
             display: none;
           }#footer .footer--vino {
              margin: 30px;

            }#footer .footer--ikonink {

               align-content: stretch;
               flex-wrap: nowrap;
               flex-direction: column-reverse;
             }
              #hero .hero--nid__heser {
                display: flow-root;
                 text-align: center;
               }#hero .hero--nid__heb {
                  display: flow-root;
                  text-align: center;
                  margin-left: 206px;
                  margin-top: -83px;
                }
  #hero .hero--nid__hel {

                   margin-top: 55px;}
}
@media (max-width: 576px) {
  #hero .hero--nid__heser {
    margin-left: 119px;
  }#hero .hero--nid__heb {

     margin-left: -10px;
     margin-top: 122px;
   }#hero .hero--nid__hel {
      font-size: 31px;
    }#hero .hero--nid__maim {
       margin-left: 140px;
     }
  #hero .hero--nid__buioke {
    left: 277px;
    margin-top: 414px;
  }#hero .hero--nid__titix {
     display: flow-root;
     text-align: center;
     font-size: 16px;
   }
}
@media (max-width: 451px) {
  #hero .hero--nid {

    width: 90%;
  }#hero .hero--nid__heser {
     width: 90%;
     text-align: center;
   }#hero .hero--nid__hel {

      text-align: center;
    }#hero .hero--nid__heser {
       margin-left: 85px;
     }
}
@media (max-width: 426px) {
  #hero .hero--nid__heser {
    margin-left: 8px;
  }#laik .laik--dem__denca {
     margin-left: -10px;

   }
}
@media (max-width: 400px) {}
@media (max-width: 380px) {}
@media (max-width: 376px) {}
@media (max-width: 320px) {
  #see .see--summer--tame {
    width: 254px;

  }#see .see--summer--tame--wife {
     margin-left: 15px;
     width: 236px;
   }#see .see--summer--tame--fisheri {
      width: 243px;

    }#hero .hero--nid__mami {
       margin-left: -130px;
       margin-top: -82px;
       width: 255px;
       height: 634px;
       border-radius: 209px;
     }#hero .hero--nid__maim {
        margin-left: 119px;
        width: 145px;

      }#hero .hero--nid__buioke {
         left: 59px;
         margin-top: 682px;
       }
  #hero .hero--nid__heb--img {
         width: 90%;
       }#hero .hero--nid__helo {
          padding: 128px 5px;
        }#hero .hero--nid__buioke {
           left: 59px;
           margin-top: 585px;
         }
}